@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
   --font1: Verdana, Geneva, Tahoma, Sans-serif;
   --font2:'Passion One', cursive;
   --font3:'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: darkgrey;
    font-family: var(--font1);
    min-width: 400px;
}

header{
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: var(--font2);
}

header > h1{
    padding-top: 30px;
    font-size: 4vw;
    font-variant: small-caps;
}

header>p{
    padding-bottom: 30px;
    font-size: 2vw;
    font-variant: small-caps;
}

header a, footer a{
    text-decoration: none;
    color: #fff;
}
header a:hover, footer a:hover{
    text-decoration: underline;
    color: darkgreen;
}

section{
    padding-top: 10vh;
    padding-bottom:10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 1em;
    font-family: var(--font3);
}
section.normal{
    background-color: #fff;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.374);
    color: #fff;
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.653);
    background-size: cover;
    background-attachment: fixed;

}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.184);
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    text-shadow: 1px 1px 2px black;
   
}

section>p{
    padding-bottom: 1em;
}

#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}
#img02{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
}

footer{
    background-color: black;
    padding: 5px;
    color: #fff;
    text-align: center;
}