@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'droid';
    src: url(./fonts/android_7.ttf) format('truetype');
}

:root{
   --color1:#ebe5c5;
   --color2:#83e1ad;
   --color3:#2fa866;
   --color4:#1a5c37;
   --color5: #063d1e;

   --fontpadrao: Arial, Helvetica, sans-serif;
   --fontestilo: 'Bebas Neue', cursive;
   --fontdroid: 'droid', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image: linear-gradient(to bottom,var(--color3), var(--color5)  );
    padding-top: 40px;
    min-width: 150px;
    text-align: center;
}

header h1{
    color: #fff;
    font-family: var(--fontestilo); 
   font-size: 3em;
   margin-bottom: 20px;
   text-shadow: 1px 1px 1px bla;
    
}
header p{
    font-family: var(--fontpadrao);
    font-size: 1.2em;;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px; 
    margin: auto;
}

body{
    background-color: var(--color1);
    font-family: var(--fontpadrao);
}


nav{
    background-color: var(--color5);
    padding: 10px;
    width: 100vw;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    transition-duration: .5s;

}

nav > a:hover{
    color: var(--color5);
    background-color: var(--color2);
    border-radius: 5px;
    
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px black;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
main img{
    width: 100%;
}
main h1{
    font-weight: normal;
    font-size: 1.8em;
    text-indent: 8px;
    font-family: var(--fontdroid);
    color: var(--color5);
}
main h2{
    font-weight: normal;

    background-image: linear-gradient(to right, var(--color2), transparent);
    font-family: var(--fontdroid);
    color: var(--color4);
    text-indent: 8px;
}



main p{
    text-indent: 30px;
    margin: 15px 0px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 2em;
}

a.ext::after {
    content: '\1F517';

}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color4);
    background-color: var(--color1);
    padding: 3px;
}
main a:hover{
    text-decoration: underline;
    color: var(--color5) ;
}
main strong{

    color: var(--color5);

}

#bug{
    width: 50%;
    margin: auto;
    display: block;

}

footer{
    background-color: var(--color5);
    color: #fff;
    text-align: center;
}

aside{
    background-color: var(--color2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}

aside h3{
    background-color: var(--color4);
    color: #fff;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;   
}

aside ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;

}
.video{
    background-color: var(--color5);
    margin: 10px;
   position: relative;
   padding-bottom: 50%;
   border-radius: 10px;
   box-shadow: 3px 3px 8px black;
   
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}