@charset "UTF-8";
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: linear-gradient(to right,#F22D1B,#0D0D0D);
}
p{
    text-align: justify;
    background-color: #F22D1B;
}
main{
    background-color: azure;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}
h1{
    text-align: center;
    text-shadow: 1px 1px 1px #F22D1B;
    color: #F23E16;
}
h2{
    text-align: center;
    text-shadow:1px 1px 1px #F28241;
    color: #F28241;
}

main > p{
    background-color: darkgoldenrod;
    border-radius: 10px;
    padding: 5px;
}

