*{
    margin: 0;
    padding: 0;
    font-variant: small-caps
}

h1{
margin: auto;
text-align: center;
padding: 30px;
}

body{
    background-color: rgba(0, 0, 0, 0.61);
}

h2{
    width: 500px;
    text-align: center;
    background-color: crimson;
    color: white;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;

}

main{
    width: 500px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
     margin: auto;
}

.dia, .mes, .ano, #total{
    padding: 20px;
}

.tudo{
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 0, 0.555);
    border-radius: 0px 0px 20px 20px;

}