main{
    max-width: 400px;
    background-color: #fff;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    }

body{
    height: 100vh;
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
  /* SHORTHAND-BACKGROUND (DENOVO) :

color > image > position > repeat > attachment */

background: black url('imagens/wallpaper002.jpg') center center no-repeat cover fixed;

}


