*{
    margin: 0;
    padding: 0;
}

#imgCima{
   width: 800px; 
   height: 200px;
   margin: auto;
    display: flex;
}

body{
    background-image: url('imgs/bg.png');
}

#conteudo{
    width: 750px;
    margin: auto;
    background-color: white;
    padding: 25px;
}

.imgLegenda{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 400px;
    height: 400px;
}

h1, h3, h4{
    font-family: 'Tahoma';
    color: #fdab1b;
    padding: 8px;
}

h4{
    color: #c3820f;
}

p{
font: 12px 'Verdana';
color: black;
text-align: justify;
padding: 10px;

}

.legenda{
    font: 10px 'Verdana';
    color: #c3820f;
    margin: auto;
    
}

a{
    font: 12px 'Verdana';
    color: #fdab1b;
    text-decoration: none;

}

a:hover{
    color: #fdab1b;
    text-decoration: underline;
}

a:visited{
    color: #edc070;
    text-decoration: none;
}