@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

main{
    min-width: 300px;
    padding: 10px;
    padding-bottom: 20px;
    background-image: url('39033.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1{
    margin: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 1px 1px 1px  white;
}

caption{
    margin-left: 200px;
    width: 200px;
    font-size: 1.5em;
    font-variant: small-caps;
    background-color: darkgray;
    font-family: 'Passion One', cursive;
    padding: 5px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;

}

table{
    margin: auto;
    margin-top: 0px; 
    border-collapse: collapse;
    position: relative;
}

thead{
    font-variant: small-caps;
    background-color: darkgray;
    color: #fff;
    font-size: large;
}

thead >tr>th{
    position: sticky;
    top: -1px;
    background-color: darkgray;
    padding: 10px;
    border: 2.5px solid black;
   

}

td, th{
    border: 2.5px solid black;
    padding: 8px;  
    text-align: center;
    
}



td{
    font-family: 'Sriracha';
}

tbody >tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.781);
    color: white;
}

tbody >tr:nth-child(odd){
    background-color: #fff;
    color: black
    
}

a{
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    font-weight: bolder;
}

a::after{
    content: '\266B';
}



.name{
    color: #fff;
}

a:hover{
    color: red;
}




