*{
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

body{
    background-color: rgba(0, 0, 0, 0.803);
}
main, #container2{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    gap: 20px;
}
h1{
    text-align: center;
    background-image: linear-gradient(to right, green, yellow);
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 50px;

}

#form1, #form2{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#view{
    width: 400px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
 }

.bt{
    width: 100px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}

.bt-conferir{
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(0, 0, 255, 0.63);
    color: white;
}

.bt:hover, .bt-conf:hover, .bt-delete:hover, .bt-conferir:hover{
    background-color: gray;
    color: black;
    transition: 0.5s;
}

.bt-conf{
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(47, 205, 47);
    color: white;
    

}


.bt-delete{
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: red;
    color: white;

}

.bts1-3, .bts4-6, .bts7-9, .bts0-conf{
    padding: 10px 20px;
    display: flex;
    gap: 20px;
}

#imgcandidato{
    width: 400px;
    height: 350px;
    display: none;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;

}

#candidato{
    display: flex;
    flex-direction: column;
    display: none;
}

#nomecand,#nomecand1, #nomecand2, #nomecand3, #porcentagem1, #porcentagem2, #porcentagem3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(to right, green, yellow);
    color: white;
    padding: 8px 8px;
    border-radius: 0px 0px 10px 10px ;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px 1px black;
   
}

#porcentagem1, #porcentagem2, #porcentagem3{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

#container2{
    display: none;
    flex-direction: column;
 
}


#candidato1, #candidato2, #candidato3{
    display: flex;
    flex-direction: column;
    width: 300px;
   
}

#fotocand1, #fotocand2, #fotocand3{
    height: 300px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;


}

.todoscand{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-content: center;

}

#porcentagem{
    display: flex;
    justify-content: center;
    text-align: center;
}

#totalvotos, #desempate{
    width: 200px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px 1px white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
    background-color: black;
}

#desempate{
    width: 600px;
    display: none;
}


