*{
    margin: 0px;
    padding: 0px;
    font-variant: small-caps;
}

body{
    background-color: gray;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(128, 0, 128) ;
    padding: 10px;
}

.h1{
    color: white;
    text-shadow: 1px 1px 1px black;
}

.nav a{
    color: white;
    text-shadow: 1px 1px 1px black;
}

.nav a:hover{
    color: black;
    transition: 1s;
    text-shadow: 1px 1px 1px white;
}


.bigum{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto ;
    
}
.um{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.dois, .doisUm{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.logo{
    display: none;
    gap: 10px;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black ;
}

.logo h4{
    margin: auto;
}

#btLogin:hover, #imgcarrinho:hover, #imglupa:hover{
    cursor: pointer;
}

#cadastro{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    border: 2px solid black;
    width: 50vw;
}

#cadsenha, #cadusuario{
    width: 30vw;
}

.lupa{
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}

#pesquisar{
    padding: 30px;
}

 #btcarrinho{
    height: 48px;
    background-color: transparent;
    border: 1px solid rgb(128, 0, 128);
    padding: 0px 10px ;
}




#menorpmaior, #maiorpmenor{
  color: rgb(128, 0, 128) ;
}


#imgs{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#pgLogin, #pgCadastroUsers, #pgCadastroProdutos, #carrinhoResumo{
    display: none;
    width: 40vw;
   margin: auto;
   margin-top: 20px;
   padding: 10px;
   border: 2px solid black;
   box-shadow: 2px 2px 12px black;
   border-radius: 5px;
}

.cabform{
    text-align: center;
}

#btEntrar, #btCadastrarUser{
    width: 200px;
}

.forgotpass:hover{
    color: green;
    cursor: pointer;
}

.doisDois{
    color: white;
}

#carrinhoResumo{
    flex-direction: column;
}

#lsta{
    list-style-type: none;
    font-size: 20px;
    color: white;
    text-align: center;
    
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(128, 0, 128) ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }