*{
    margin: 0px;
    padding: 0px;
    font-variant: small-caps;
}

body{
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(128, 0, 128) ;
    padding: 10px;
}

.h1{
    color: white;
    text-shadow: 1px 1px 1px black;
}

.nav a{
    color: white;
    text-shadow: 1px 1px 1px black;
}

.nav a:hover{
    color: black;
    transition: 1s;
    text-shadow: 1px 1px 1px white;
}

#anime1{
    width: 100px;
    height: 80px;
}
.bigum{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto ;
    
}
.um{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.dois{
    display: flex;
    gap: 15px;
}

.logo{
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black ;
}

.logo h4{
    margin: auto;
}

#imglogin:hover, #imgcarrinho:hover, #imglupa:hover{
    cursor: grab;
}

#cadastro{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    border: 2px solid black;
    width: 50vw;
}

#cadsenha, #cadusuario{
    width: 30vw;
}

.lupa{
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}

#pesquisar{
    height: 48px;
}


.container{
    display: none;
}



#imgs{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(128, 0, 128) ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }