*{
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

body{
    background-color: skyblue;
}

input{
    width: 150px;
    height: 20px;
}
h1{
    margin-bottom: 50px;
    margin: auto;
    text-align: center;
}
p{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

#btcalcula, #btlimpar{
    border: 1px solid black;
    border-radius: 20px;
    cursor: grab;
    margin-right: 10%;
    font-size: 14px;
    
}
#btcalcula:hover, #btlimpar:hover{
    background-color: bisque;
}


.divs{
    padding: 5px;
    margin: 5px;
    width: 510px;
    display: flex;
    text-align: center;
}

#nome, #n1, #n2, #n3, #media, #result{
    margin-top: 7px;
    text-align: center;
}


#container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nome, #n1, #n2, #n3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-left: 14px;
}