*{
    margin: 0;
    padding: 0;
}

h1{
    margin: auto;
    text-align: center;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px black;
}

.cabeca{
    font-size: 40px;
    background-color: rgba(167, 15, 15, 0.69);
    padding: 10px;
}

#container{
   width: 500px;
   margin: 5% 35%;
    display: flex;
    flex-direction: column;
    
}

#inname, #inidade, #incpf, #inemail, #incombo, #texto{
    width: 500px;
    padding: 5px;
}

.nome, .idade, .cpf, .email, .combo, .visita, .novidade, .enviar{
    padding: 10px 0px;
}
#texto{
    resize: none;
}

#enviar{
    padding: 10px;
}


