*{
    margin: 0;
    padding: 0;
}

h1{
    text-shadow: 1px 1px 1px black;
}

body{
    background-color: rgba(128, 0, 128, 0.563);
}

.imagem{
    display: none;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}