*{
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    font-weight: bold;
    

}

h1{
    text-shadow: 1px 1px 1px white;
    width: 500px;
    color: white;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

body{
    background-color: skyblue;
    width: 100vw;
    height: 80vh;
}

#im{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
}

#hora{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    text-shadow:  1px 1px white;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    gap: 8px;
}

#idade{
    display: flex;
    width: 350px;
    justify-content: left;
    gap: 3px;
}

#sexo{
    width: 350px;
    display: flex;
    justify-content: left;
    gap: 5px;
}

#bt{
padding: 3px;
border: 1px solid black;
border-radius: 10px;  
}

#bt:hover{
    cursor: grab;
    background-color: wheat;
    transition: 1s;

}

#masc, #fem, #out{
    margin-top: 4px;
}

#text{
    font-size: 20px;
}

footer{
    width: 500px;
    color: white;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

