

#videos1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
    gap: 20px 10px;
    align-items: center;
}

.anime{
   min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 300px;
   height: 200px;
   border: solid black 1px;
   border-radius: 20px;
   cursor: grab;
   top: 50%;
   left: 50%;


}

#videos1 > #naruto{
    background: url(img/naruto.jpeg) center center no-repeat;
    background-size: cover;

}

#videos1 > #naruto:hover{
    background: url(img/naruto1.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}

#videos1 > #onepiece{
    background: url(img/onepiece.jpeg) center center no-repeat;
    background-size: cover;
}
#videos1 > #onepiece:hover{
    background: url(img/onepiece1.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #dbz{
    background: url(img/dbz.jpeg) center center no-repeat;
    background-size: cover;
}
#videos1 > #dbz:hover{
    background: url(img/dbz1.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #jojo{
    background: url(img/jojo.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #jojo:hover{
    background: url(img/jojo1.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #aot{
    background: url(img/aot.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #aot:hover{
    background: url(img/aot1.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #deathnote{
    background: url(img/deathnote.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #deathnote:hover{
    background: url(img/deathnote1.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #hxh{
    background: url(img/hxh.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #hxh:hover{
    background: url(img/hxh1.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #fullmetal{
    background: url(img/fullmetal.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #fullmetal:hover{
    background: url(img/fullmetal1.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #jujutsu{
    background: url(img/jujutsu.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #jujutsu:hover{
    background: url(img/jujutsu1.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #kimetsu{
    background: url(img/kimetsu.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #kimetsu:hover{
    background: url(img/kimetsu1.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #yuyuhakusho{
    background: url(img/yuyuhakusho.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #yuyuhakusho:hover{
    background: url(img/yuyuhakusho.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}

#videos1 > #onepunch{
    background: url(img/onepunch.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #onepunch:hover{
    background: url(img/onepunch.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #haikyuu{
    background: url(img/haikyuu.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #haikyuu:hover{
    background: url(img/haikyuu.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #bokunohero{
    background: url(img/bokunohero.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #bokunohero:hover{
    background: url(img/bokunohero.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #drstone{
    background: url(img/drstone.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #drstone:hover{
    background: url(img/drstone.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}
#videos1 > #thepromised{
    background: url(img/thepromised.jpeg) center center no-repeat;
    background-size: cover;

}
#videos1 > #thepromised:hover{
    background: url(img/thepromised.gif) center center no-repeat;
    background-size: cover;
    transition: 2s;
}





