*{
    margin: 0;
    padding: 0;
}

table{
    margin: auto;
    margin-top: 0px; 
    border-collapse: collapse;
    position: relative;
    border: 1px solid black;
    width: 25vw;
    background-color: aquamarine;
    

}

td, th{
    border: 2.5px solid black;
    padding: 12px;  
    text-align: center;
 
}
