#container{
    min-width: 300px;
    height: 500px;
    padding: 10px;
    background-color: red;
    position: relative;
    background-image: url('imagens/target001.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#conteudo{
    background-image: url('imagens/target001.png');
    background-size: 100% 100%;

    position: absolute;
    height: 200px;
    width: 400px;
    margin: auto;
    background-color: gold;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}