*{
    margin: 0;
    padding: 0;
}

body{
}

h1{
    margin: auto;
    text-align: center;
    font-variant: small-caps;
    padding: 20px;
    text-shadow: 1px 1px 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

fieldset{
    width: 200px;
    border: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    gap:10px
}
