*{
    margin: 0;
    padding: 0;
}

h1{
    margin: auto;
    text-align: center;
    font-variant: small-caps;
    padding: 20px;
    text-shadow: 1px 1px 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

fieldset{
    border: 0;
}
