

h1, p, H2{
    text-align: center;
    margin: auto;
    font-variant: small-caps;
    font-family: 'Luckiest Guy', cursive;
    color: #f21bbc;
}

h2{
    padding: 20px;
}

h2::before{
    content: '↣';
}

h2::after{
content: '↢';
}

h2 a{
    color: #f21bbc;
}


h2 a:hover{
    font-size: 48px;
    color: #570c44;
    transition: 2s;
}


p{
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
}

#videos1, #videos2, #videos3{
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}
.video1{
    padding: 10px;
    margin: 10px;
}

iframe{
    width: 400px;
    height: 300px;
}

.minip{
    font-size: 11px;
}

