*{
    margin: 0;
    padding: 0;

}

header{
    background-color:  #f63ae0de;;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-weight: bolder;
   font-variant: small-caps;
   min-width: 150px;
   font-size: 18px;
}

h1, p{
    text-align: center;
    margin: auto;
    font-variant: small-caps;
    font-family: 'Luckiest Guy', cursive;
    color: #f21bbc;
}

nav > a {
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    padding: 10px;
    text-decoration: overline;
}

p{
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
}

nav > a:hover{
    color: black;
    transition: 1s;
}

body{
    background-color: #181716;
}

#videos1, #videos2, #videos3{
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}
.video1{
    padding: 10px;
    margin: 10px;
}

iframe{
    width: 400px;
    height: 300px;
}

.minip{
    font-size: 11px;
}

