*{
    margin: 0;
    padding: 0;
    color: white;
}

h1{
    margin: auto;
    text-align: center;
    font-variant: small-caps;
    padding: 20px;
    text-shadow: 1px 1px 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

header{
    background-color:  #f63ae0de;;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-weight: bolder;
   font-variant: small-caps;
   min-width: 150px;
   font-size: 18px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 50px;
}



nav > a {
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    padding: 10px;
    text-decoration: overline;
}

nav > a:hover{
    color: black;
    transition: 1s;
}

body{
    background-color: #181716;
}

.pt1{
    width: 700px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.h{
    width: 250px;
}

.p1 > h2, p{
    margin: auto;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
}

.img1{
    background-image: url('imgs/oned20.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
}

.img2{
    background-image: url('imgs/oned21_.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
}

.img3{
    background-image: url('imgs/oned22.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
}

.img4{
    background-image: url('imgs/oned23.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
}

.img5{
    background-image: url('imgs/oned24.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.spotify::after{
    content: url('imgs/spotify.png');
}

.youtube::after{
    content: url('imgs/youtube.png');
}

.icloud::after{
    content: url('imgs/applemusic.png');
}

.amazon::after{
    content: url('imgs/amazon.png');
}

p{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p1{
    display: flex;
    flex-direction: column;
}

footer{
    background-color:  #f63ae0de;
    padding: 15px;
    margin: auto;
    text-align: center;
    font-weight: bolder;
   font-variant: small-caps;
   min-width: 150px;
   font-size: 18px;
    
}

.p1 a{
    text-decoration: none;
}

.p1  .spotify:hover{
    color:rgb(52, 203, 52) ;
    transition: 1s;
}

.p1  .youtube:hover{
    color:rgb(236, 47, 47) ;
    transition: 1s;
}

.p1  .icloud:hover{
    color: rgb(207, 46, 207);
    transition: 1s;
}

.p1  .amazon:hover{
    color:rgb(64, 64, 118);
    transition: 1s;
}

p{
    text-shadow: 2px 2px 2px black;
}
