@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Passion+One&display=swap');

*{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}



#oi{
    margin-top: 10px ;
}

span{
    color: red;
}

#tudo > .ima{
    display: none;
}



#tudo > .ima{
    display: none;
}
#tudo:hover > .ima{
    display: block;
    color: crimson;
    
}

.ima{
    width: 30vw;
    height: 30vh;
}

